/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color:rgb(0, 0, 0);  
    margin: 0px !important;
    
    color: #ffffff;
    font: Verdana, Arial, Sans-Serif;
}



main {
    margin: 0px auto ;
    width: 100%;
    position: relative;
}


article {
    text-align: justify;
    font-size:  1.3em;
    margin: 60px;
}


header {
    color: rgb(44, 241, 4);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(28, 163, 28);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
.navbar__list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #302828;
    height: 45px;
    width:100%;
}




nav ul li {
    float: left;
}

.navbar__item {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar__item--red {
    background-color: red;
}


nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: rgb(255, 255, 255);
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown-item{
      margin: 5px;
      padding: 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.navbarkie {
    position: fixed;

}

.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ba00b1;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }