/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #41506b;  

    color: #000000;
    font: Verdana, Arial, Sans-Serif;
    margin: 0px;
}


main {
    margin: 0 auto;
    width: 1100px;
    position: relative;
    top: 60px;
    border: 2px;
    border-color: #ff652f;
}



article {
    text-align: justify;
}


header {
    color: #35bcbf;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: #35bcbf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #272727
}


/* navigatiebalk */
.navbar {
    position:fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
}

.navbar__list {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #263849;
    height: 51px;
}

.navbar__item {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
 
}

.navbar__item--right {
    width: 15%
}

.navbar__item--left {
    float: left;
}

nav li a:hover {
    background-color: #ff4400;
}

nav li a.active {
    background-color: #ff652f;
}

nav li {
    padding: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    overflow: visible;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
}

.dropdown-item{
    margin-top: 100px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.kolom_links {
float:left;

}

.main-text {

    font-size: 20px;

}

.imgbox {

    max-width: 500px;
    height: 275px;
    margin: 24px;
    filter: brightness(80%);
    
}

.imgbox--right {

    float: right;
}

.imgbox--left{

    float: left;

}


.container-2 {
    position: relative;
    text-align: center;
    color: rgb(248, 248, 248);

}    
.text-in-plaatje {
    text-align: left;
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 15px;
    border:rgb(3, 6, 34) 2px;

}

.groot-maar-klein {
 float: left;
 font-size: 30px;


}

.net-wat-kleiner {

float: left;
font-size: 20px;

}