/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #1a1a1d;  

    color: #c9c9c9;
    font: Verdana, Arial, Sans-serif;
    margin: 0px;
}


main {
    margin: 0 auto;
    width: 1100px;
    position: relative;
    top: 60px;
    border: 2px;
    border-color: #df1616;
}



article {
    text-align: justify;
}


header {
    color: #c3073f;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {

    text-decoration: underline;

}


/* navigatiebalk */
.navbar {
    position:fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
    list-style-type: none;
    
}

.navbar__list {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #4e4e50;
    height: 51px;

}

.navbar__item {
    float: right;
    display: block;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    list-style-type: none;
    font-weight: bold;
 
}

.navbar__item--right {
    width: 15%
}

.navbar__item--left {
    float: left;
}

nav li {
    padding: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    overflow: visible;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #434344;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
}

.dropdown-item{
    margin-top: 100px;
}

.dropdown:hover .dropdown-content {
    display: block;
    
}

.kolom_links {
float:left;

}

.main-text {

    font-size: 24px;

}

.imgbox {

    width:  530px;
    height: 275px;
    filter: brightness(60%);
    
}

.imgbox--right {

    float: right;
}

.imgbox--left{
    position: relative;
    float: left;

}


.container-imgbox {
    position: absolute;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 1100px;
}    

.container-imgbox__item{
    margin: 10px;
    width:  530px;
    height: 275px;
    filter: brightness(100%);
}

.container-imgbox__item:hover .imgbox {

 filter:brightness(45%);
transition: 0.4s;
}

.container-imgbox__item:hover .text-in-plaatje-transition {

    opacity: 0;
    transition: 0.4s;


}

.text-in-plaatje {
    position: absolute;  
      top: 20px;
      left: 20px;
    
}

.text-in-plaatje-transition {

    position: absolute;  
    top: 20px;
    left: 20px;
        


}



.groot-maar-klein {
 text-align: left;
 font-size: 20px;
 
}

.net-wat-kleiner {

text-align: left;
font-size: 16px;

}

.nietlink {

    color: #fcfcfc;
}

.index-images {

    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}

.logo {
    top: -35px;
    width: 100px;
    position: relative;
    background-color: none;

}

.logotext:hover {

 
 background-color:#1a1a1d;


}



#imgbox-images{
    position:relative;
    margin:0 auto;
    z-index: 0;
    filter: brightness(60%);
}
  
#imgbox-images img {
    position:absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
  
#imgbox-images img.top:hover {
    opacity:0;
}


.image-left {

    float: left;
}

