.weaponbox--1 {

    float:left;
    margin: 10px 10px 60px 30px;
    

}
.weaponbox--2 {

    float:left;
    margin: 10px 10px 60px 10px;

}

.weaponbox--3 {

    float:left;
    margin: 10px 10px 60px 10px;
}

.weaponbox--4 {

    float:left;
    margin: 10px 10px 60px 30px;
}

.weaponbox--5 {

    float:left;
    margin: 10px 10px 60px 10px;
}

.weaponbox--6 {

    float:left;
    margin: 10px 10px 60px 10px;
}

.weaponbox--7 {

    float:left;
    margin: 10px 10px 60px 30px;
}

.weaponbox--8 {

    float:left;
    margin: 10px 10px 60px 10px;
}


.weaponbox {
    width: 30%;
    height: 175px;

}

.weaponbox-groot {

    height: 350px;
}


/* BEM naming convention */
.weaponbox__top {
    background-color: #272727;
    height: 40px;
    text-align: center;
    margin-top: -25px;
    border-color: black;
    border-radius: 25px 25px 0px 0px;
    border: solid 2px;
}

.weaponbox__name {
    margin-top: 9px;
    color: #35bcbf
}

.weaponbox__main {
    width: auto;
    height: 100%;
    background-color: rgb(75, 75, 75);
    border-color: black;
    border-radius: 0px 0px 25px 25px;
    border-bottom: solid 2px;
    border-left: solid 2px;
    border-right: solid 2px;
    
}

.weaponbox__main--groot {


}

.weaponbox__main--klein:hover .weaponbox__stats{
    display: block;
}
.weaponbox__main--klein:hover .weaponbox__picture{
    display: none;
}

.weaponbox__picture{
    border-image: 2px;
    border-color: chocolate;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

}
/* 
.weaponbox__main:hover {

    width: auto;
    height: 100%;
    background-color: rgb(75, 75, 75);
    border-color: black;
    border-radius: 0px 0px 25px 25px;
    border-bottom: solid 2px;
    border-left: solid 2px;
    border-right: solid 2px;
    

} */
.weaponbox__stat {
    display: grid;
    grid-template-rows: 33px 33px 33px 33px;
    border:6px solid crimson ;
}

.weaponbox__stats {
    border: 2px solid #35bcbf;
    color:rgb(231, 91, 10);
    height: 135px;
    display:none;
}
/*.weaponbox__statename {
    width: 20%;
    position: relative;

} */

/*.weaponbox__stattet {
 width: 15%;
 height: 20px;
 border: #35bcbf 1px;
 background-color: chartreuse;
 position: relative;
 float: right;
} */

.weaponbox__stat__accuracy {
display:grid;
grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr ;
border: 1px solid #1cbd0d


}

.weaponbox__stat__accuracy__name {
border: 1px solid #1cbd0d;
text-align: center;


}



.weaponbox__stat__firepower {
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr ;
    border: 1px solid #1cbd0d
    
    
}
    
.weaponbox__stat__firepower__name {
    border: 1px solid #1cbd0d;
    text-align: center;
    
    
}

.weaponbox__stat__speed {
        display:grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr ;
        border: 1px solid #1cbd0d
        
        
}
        
     .weaponbox__stat__speed__name {
         border: 1px solid #1cbd0d;
         text-align: center;
        
        
} 
        
.weaponbox__stat__ammo {
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr ;
    border: 1px solid #1cbd0d
            
            
}
            
    .weaponbox__stat__ammo__name {
        border: 1px solid #1cbd0d;
            text-align: center;
            
            
}
 

.weaponbox__stat__stats__on {
 
    border: 2px solid rgb(39 39 39);
    margin: 7px 3px 7px 3px;
    background-color: #1ce23d;
    
    
}

    .weaponbox__stat__stats__off {
 
        border: 2px solid rgb(39 39 39);
        margin: 7px 3px 7px 3px;
        background-color: #faa9a9;   
        
        
}

.wapeninfo{
    width: fit-content;

}